#define IDC_STATIC -1

#include <windows.h>
#include "resource.h"

IDR_MAINFRAME DIALOGEX 10,10,325,175
CAPTION "ќбновление..."
FONT 8,"MS Sans Serif",0,0,0
STYLE NOT WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_THICKFRAME|WS_MINIMIZEBOX|DS_CENTER|DS_3DLOOK
BEGIN
  CONTROL "",IDC_IMG_TARGET_ICON,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,18,12,21,18
  CONTROL "",IDC_LST_MESSAGE,"ListBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|LBS_NOINTEGRALHEIGHT|LBS_HASSTRINGS|LBS_NOTIFY,3,51,318,105,WS_EX_CLIENTEDGE
  CONTROL "Ћокальны€ директори€",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE,60,3,112,9
  CONTROL "”даленна€ директори€",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE,60,24,108,9
  CONTROL "",IDC_EDT_LOCAL_DIR,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_READONLY,63,12,250,12,WS_EX_CLIENTEDGE
  CONTROL "",IDC_EDT_REMOTE_DIR,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_READONLY,63,33,250,12,WS_EX_CLIENTEDGE
  CONTROL "",IDC_PGB_MAIN,"msctls_progress32",WS_CHILD|WS_VISIBLE,3,162,315,9
END

